@model BookStore.Models.ChangePasswordModel

@{
    ViewData["Title"] = "ChangePassword";
}

<div class="container">
    <h1 class="text-center">ChangePassword</h1>

    <hr />
    <div class="row">
        <div class="col-md-4 offset-4">
            @if(ViewBag.isSuccess == true)
            {
                <div class="alert alert-success" role="alert">
                    Password has been updated successfully!
                </div>
            }
            <form asp-action="ChangePassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CurrentPassword" class="control-label"></label>
                    <input asp-for="CurrentPassword" class="form-control" />
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <input type="submit" value="Change password" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" asp-controller="Home">Back to List</a>
    </div>
</div>


@*<div class="container mt-5">
    <div class="col-md-6 offset-3">
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0">Change Password</h3>
        </div>
        <div class="card-body">
            <form class="form" method="post">
                <div class="form-group">
                    <label for="inputPasswordOld">Current Password</label>
                    <input asp-for="CurrentPassword" class="form-control" />
                    <span asp-validation-for="CurrentPassword"></span>
                </div>
                <div class="form-group">
                    <label for="inputPasswordNew">New Password</label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword"></span>
                </div>
                <div class="form-group">
                    <label for="inputPasswordNewVerify">Verify</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>
                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-success btn-lg float-right">Save</button>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>*@


