@using BookStore.Models
@{
    var BookInfo = ViewData["book"] as BookModel;
}


<section class="jumbotron text-center  mt-5">
<div class="container">
<h1 class="text-uppercase">Welcome to the bookstore @ViewData["CustomProperty"] </h1>


    <p class="lead text-muted">
        Lorem ipsum odor amet, consectetuer adipiscing elit. Consectetur egestas rutrum conubia egestas odio. Cursus venenatis amet erat penatibus etiam; mauris mus. Velit vel primis senectus nec eleifend pharetra mattis. Purus ultrices rhoncus est blandit cubilia diam facilisis. Mus litora tellus est libero tellus facilisis orci. Maximus iaculis leo mi primis sagittis eget.
    </p>
    <p>
        
        <a href="#" class="btn btn-primary my-2">Search Books</a>
    </p>
</div>
</section>

<div class="py-4 bg-light">
    <div class="container">
        <h3>Top Books</h3>
        <div class="row">
            <div class="col-md-4">
                <partial name="_bookThumbnail" model="new BookModel()"/>
            </div>
            <div class="col-md-4">
                <partial name="_bookThumbnail" model="new BookModel()"/>

            </div>
            <div class="col-md-4">
                <partial name="_bookThumbnail" model="new BookModel()"/>

            </div>
        </div>
    </div>
</div>

